<!-- Parte de arriba -->
<%- include('../../layout/partTop.ejs') %>
<%- include ./docenteCargo_navbar.ejs %>

 <!-- Header -->

  <div class="w3-container w3-card-4 w3-white">
    <h5 id="lblFormAlta" class="w3-bar-item w3-left" style="display: none;"><b>Alta de cargos</b></h5>
    <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
  
    <div id="divFormAlta" style="display: none;">
      <% include ./docenteCargo_form.ejs %>
    </div>
  </div>
  
  <% let isAdmin = false %>
         <!-- Header -->
    <header class="w3-container" >
      <h5><b><i class="fa fa-dashboard"></i> Mis cargos </b></h5>
    </header>
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr>
          <th>Rol</th>
          <th>Campo</th>
          <th>Revista</th>
          <th>Cursantes</th>
          <th>Asistencia</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <% docenteCargos.forEach(function(docenteCargo){ %>
        <% let docenteCargoId %>
        <% let rolNombre %>
        <% let campoClave %>
        <% cargos.forEach(function(cargo){ %>
          <% if(docenteCargo.idCargo == cargo.id){ %>
            <tr>
              <td>
                <% roles.forEach(function(rol){ %>
                  <% if(cargo.idRol == rol.id){ %>
                    <%= rol.nombre %>
                    <% rolNombre = rol.nombre %>
                  <% } %>
                <% }) %>
              </td>
              <td>
                <% campos.forEach(function(campo){ %>
                  <% if(cargo.idCampo == campo.id){ %>
                    <%= campo.nombre %>
                    <% campoClave = campo.clave %>
                  <% } %>
                <% }) %>
              </td>
              <td>
                <% revistas.forEach(function(revista){ %>
                  <% if(docenteCargo.idRevista == revista.id){ %>
                    <%= revista.nombre %>
                  <% } %>
                <% }) %>
              </td>
              
                <% if (cargo.idRol < 5) { %>
                  <% isAdmin = true %>
                  <td></td>
                  <td class="">
                  </td>
                  <td class="">
                    <button type="button" id="btnDocenteCargoBaja" class="w3-button w3-border w3-round w3-red btnDocenteCargoBaja" data-bs-toggle="modal" data-clave="<%= rolNombre %>">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </td>
                <% } else { %>
                  <td class="">
                  <a href="../cursante/<%= campoClave %>/cursantesDatos" class="w3-button w3-light-blue" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                  </a>
                  </td>
                  <td class="">
                    <a href="../cursante/<%= campoClave %>" class="w3-button w3-light-blue" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td class="">
                    <button type="button" id="btnDocenteCargoBaja" class="w3-button w3-border w3-round w3-red btnDocenteCargoBaja" data-bs-toggle="modal" data-clave="<%= campoClave %>">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </td>
                <% } %>

            </tr>
          <% } %>
        <% }); %>
      <% }); %>
    </table>
    
  
      <br>

      <% if(isAdmin == true) {%>
             <!-- Header -->
        <header class="w3-container" >
          <h5><b><i class="fa fa-dashboard"></i> Capacitaciones </b></h5>
        </header>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr>
              <th>Campo</th>
              <th>Clave</th>
              <th>Revista</th>
              <th>Cursantes</th>
          <th>Asistencia</th>
          <th>Eliminar</th>
            </tr>
          </thead>
          <% docenteCargos.forEach(function(docenteCargo){ %>
            <% let docenteCargoId %>
            <% let rolNombre %>
            <% let campoClave %>
            <% cargos.forEach(function(cargo){ %>
              <% if(cargo.idRol == 5){ %>
                <% roles.forEach(function(rol){ %>
                  <% if(cargo.idRol == rol.id){ %>
                    <% rolNombre = rol.nombre %>
                <tr>
                 
                    <% campos.forEach(function(campo){ %>
                      <% if(cargo.idCampo == campo.id){ %>
                        <td>
                        <%= campo.nombre %>
                        <% campoClave = campo.clave %>
                      </td>
                      <td>
                        <%= campoClave %>
                      </td>
                      <% } %>
                    <% }) %>
                  
                  <td>
                    <% revistas.forEach(function(revista){ %>
                      <% if(docenteCargo.idRevista == revista.id){ %>
                        <%= revista.nombre %>
                      <% } %>
                    <% }) %>
                  </td>
                  
                  <td class="">
                    <a href="../cursante/<%= campoClave %>/cursantesDatos" class="w3-button w3-light-blue" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                      <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </a>
                    </td>
                    <td class="">
                      <a href="../cursante/<%= campoClave %>" class="w3-button w3-light-blue" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                        <i class="fa fa-list" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td class="">
                      <button type="button" id="btnDocenteCargoBaja" class="w3-button w3-border w3-round w3-red btnDocenteCargoBaja" data-bs-toggle="modal" data-clave="<%= campoClave %>">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
    
                </tr>
                <% } %>
                    <% }) %>
              <% } %>
            <% }); %>
          <% }); %>
        </table>
      <%}%>

  

 <!-- Parte de abajo -->
 <%- include('../../layout/partBotton.ejs') %>