<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div>
    <% let j = 0 %>
    <% let encuentro %>
    <% let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']; %>
</div>

<div class="noPrint">
    <div class="topnav">
        <div class="login-container">
            <form action="/cursante/analisis" method="post">
                <select name="cohorte">
                    <option value='' style="display:none"> Cohorte </option>
                    <% cohortesTodas.forEach(function(cohorte){ %>
                        <option value="<%= cohorte.clave %>" <% if (cohorte.clave === paramCohorte) { %> selected <% } %> ><%= cohorte.clave %></option>
                    <% }) %>
                </select>
                <select name="campoClave">
                    <option value='' style="display:none"> Campo </option>
                    <% camposTodos.forEach(function(campo){ %>
                        <option value="<%= campo.clave %>" <% if (campo.clave === paramCampo) { %> selected <% } %> ><%= campo.clave %></option>
                    <% }) %>
                </select>
                <button type="submit">Consultar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>

<% camposDocentes.forEach(function(campoDocente){ %>
    <% let i = 1 %>
    <% let fechaInicio = 'N/A'; %>
    <% let fechaFin = 'N/A'; %>
    <% if (campoDocente.encuentroFecha && campoDocente.encuentroFecha.encuentro1 && campoDocente.cohorte && campoDocente.cohorte.nroEncuentros) { %>
        <% let newFechaInicio = new Date(campoDocente.encuentroFecha.encuentro1); %>
        <% fechaInicio = newFechaInicio.getUTCDate() +"/"+ (newFechaInicio.getMonth() + 1) +"/"+ newFechaInicio.getFullYear().toString().slice(-2); %>
        <% let newFechaFin = new Date(campoDocente.encuentroFecha['encuentro'+campoDocente.cohorte.nroEncuentros]); %>
        <% fechaFin = newFechaFin.getUTCDate() +"/"+ (newFechaFin.getMonth() + 1) +"/"+ newFechaFin.getFullYear().toString().slice(-2); %>
    <% } %>

    <% if (campoDocente.encuentroFecha && campoDocente.encuentroFecha['encuentro' + campoDocente.cohorte.nroEncuentros]) { %>
        <% let newFechaFin = new Date(campoDocente.encuentroFecha['encuentro' + campoDocente.cohorte.nroEncuentros]); %>
        <% let fechaFin = newFechaFin.getUTCDate() + "/" + (newFechaFin.getMonth() + 1) + "/" + newFechaFin.getFullYear().toString().slice(-2) %>
        <% let fechaFinLarga = newFechaFin.getUTCDate() + " de " + meses[newFechaFin.getMonth()] + " de " + newFechaFin.getFullYear() %>
    <% } else { %>
        <% let fechaFin = 'N/A'; %>
        <% let fechaFinLarga = 'N/A'; %>
    <% } %>

    <% let limit = 30 %>
    <% let inscriptos = campoDocente.cursantes.length %>
    <% let hojas = Math.trunc(inscriptos / limit + 1) %>

    <% for (var x = 1; x <= hojas; x++) { %>
        <% let aprobados = 0 %>
        <% let desaprobados = 0 %>
        <% let ausentes = 0 %>
        <% let otros = 0 %>
        <% let masculinoTotal = 0 %>
        <% let femeninoTotal = 0 %>
        <% let masculinoAprobados = 0 %>
        <% let masculinoDesaprobados = 0 %>
        <% let masculinoAusentes = 0 %>
        <% let masculinoOtros = 0 %>

        <div class="<% if (campoDocente.propuesta['Resolución'] == '' || campoDocente.propuesta['Dictamen'] == '' || campoDocente.propuesta['Proyecto'] == '' || campoDocente.propuesta['impreso'] == 'TRUE') { if (campoDocente.propuesta['impreso'] == 'TRUE') { borde = 'borderPageGreen' } else { borde = 'borderPageGrey'; } %> noPrint <% } %>">
            <div>
                <% if (campoDocente && campoDocente.cohorte && campoDocente.cohorte.clave) { %>
                    <div style="float: right;">
                        <span class="sup"><%= campoDocente.clave %> - <%= campoDocente.cohorte.clave %> | pág. <%= x %> / <%= hojas %></span>
                    </div>
                <% } %>
            </div>

            <div class="info">
                <div style="float: left;">
                    <span>Área: <u><strong><%= campoDocente.nombre %></strong></u></span>
                </div>
                <div style="float: right;">
                    <span class="w3-right">Dispositivo: <b>Curso</b></span>
                </div>
            </div>
            <br>
            <div style="margin-top: 5; margin-bottom: 5;">
                Nombre: <b><%= campoDocente.propuesta.nombre %></b>
            </div>
            <div class="w3-bar w3-large">
                <span>Proyecto: <b><%= campoDocente.propuesta['Proyecto'] !== '' ? campoDocente.propuesta['Proyecto'] : "_________" %></b></span>
                <span> Resolución: <b><%= campoDocente.propuesta['Resolución'] !== '' ? campoDocente.propuesta['Resolución'] : "_________" %></b></span>
                <span>Dictamen: <b><%= campoDocente.propuesta['Dictamen'] !== '' ? campoDocente.propuesta['Dictamen'] : "_________" %></b></span> 
                <span>Carga horaria: <b><%= campoDocente.propuesta['Carga horaria'] !== '' ? campoDocente.propuesta['Carga horaria'] : "______" %></b> hs.</span> 
                <br>
                <span>Inicio: <b><%= fechaInicio %></b>, </span>
                <span>Finalización: <b><%= fechaFin %></b></span>
            </div>
            <table class="w3-table-all" style="margin-top: 5;">
                <tbody>
                    <% for (var y = limit * (x - 1); y < limit * x; y++) { %>
                        <% if (y < inscriptos) { %>
                            <% let cursante = campoDocente.cursantes[y]; %>
                            <% let genero = cursante['Género (como figura en el DNI)']; %>
                            <% let valoracion = cursante.Valoracion; %>
                            <% if (genero === 'Masculino') { masculinoTotal++; } else { femeninoTotal++; } %>
                            <% if (valoracion === 'aprobado') { 
                                aprobados++; 
                                if (genero === 'Masculino') { masculinoAprobados++; } 
                            } %>
                            <% if (valoracion === 'desaprobado') { 
                                desaprobados++; 
                                if (genero === 'Masculino') { masculinoDesaprobados++; } 
                            } %>
                            <% if (valoracion === 'ausente') { 
                                ausentes++; 
                                if (genero === 'Masculino') { masculinoAusentes++; } 
                            } %>
                            <% if (valoracion !== 'ausente' && valoracion !== 'aprobado' && valoracion !== 'desaprobado') { 
                                otros++; 
                                if (genero === 'Masculino') { masculinoOtros++; } 
                            } %>
                            <tr>
                                <td style="text-align: right;"><%= i %></td>
                                <td style="text-align: right;"><%= cursante['Número de DNI'] %></td>
                                <td style="overflow: hidden; white-space: nowrap;"><%= cursante['Apellido/s'] %>, <%= cursante['Nombre/s'] %></td>
                                <td <% if (valoracion === 'aprobado') { %> style="font-weight: bold;" <% } %>
                                    <% if (valoracion === 'desaprobado') { %> <% } %>
                                    <% if (valoracion === 'ausente') { %> style="font-style: italic;" <% } %>
                                    <% if (valoracion !== 'ausente' && valoracion !== 'aprobado' && valoracion !== 'desaprobado') { %> style="font-style: underline;" <% } %>
                                ><%= valoracion %></td>
                                <td><%= genero %></td>
                            </tr>
                        <% } %>
                        <% i++; %>
                    <% } %>
                </tbody>
            </table>
            <div style="margin-top: 5; margin-bottom: 5;">
                <table class="w3-table-all" style="margin-top: 5;">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; width: 8%;" rowspan="2"><b>Curso</b></th>
                            <th style="text-align: center; vertical-align: middle;" colspan="5">Totales</th>
                            <th style="text-align: center; vertical-align: middle;" colspan="5">Masculinos</th>
                        </tr>
                        <tr class="w3-light-grey">
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Inscriptos</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Aprobados</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Desaprobados</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Ausentes</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Otros</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Inscriptos</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Aprobados</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Desaprobados</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Ausentes</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%;">Otros</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style=""><strong><%= campoDocente.clave %></strong></td>
                            <td style="text-align: right;"><%= aprobados + desaprobados + ausentes + otros %></td>
                            <td style="text-align: right;"><%= aprobados%></td>
                            <td style="text-align: right;"><%= desaprobados %></td>
                            <td style="text-align: right;"><%= ausentes %></td>
                            <td style="text-align: right;"><%= otros %></td>
                            <td style="text-align: right;"><%= masculinoTotal %></td>
                            <td style="text-align: right;"><%= masculinoAprobados %></td>
                            <td style="text-align: right;"><%= masculinoDesaprobados %></td>
                            <td style="text-align: right;"><%= masculinoAusentes %></td>
                            <td style="text-align: right;"><%= masculinoOtros %></td>
                        </tr>
                    </tbody>
                </table>
                <span>Inscriptos: , Aprobados: <%= aprobados %>, Desaprobados: <%= desaprobados %>, Ausentes: <%= ausentes %>, Otros: <%= otros %></span>
                <br>
                <span>Masculinos: <%= masculinoTotal %>, Femeninos: <%= femeninoTotal %></span>
                <br>
                <span>Masculinos Aprobados: <%= masculinoAprobados %>, Masculinos Desaprobados: <%= masculinoDesaprobados %>, Masculinos Ausentes: <%= masculinoAusentes %>, Masculinos Otros: <%= masculinoOtros %></span>
            </div>
            <div style="text-align: right;">
                
                <div style="display: flex; justify-content: flex-end;">
                    <div style="width: 50%;">
                        <span style="display: inline-block; width: 100%;">_________________________________________</span>
                        <div style="text-align: center;">
                            <small>Firma form.: <%= campoDocente.persona.apellido %>, <%= campoDocente.persona.nombre %></small>
                        </div>
                    </div>
                </div>
            </div>
            <div style="break-after: page;"></div>
        </div>
    <% } %>
<% }) %>

<style>
    /* Estilos globales */
    body {
        margin: 0;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    /* Estilos de impresión */
    @media print {
        .noPrint {
            display: none;
        }

        .brPage {
            page-break-after: always;
        }

        body {
            padding: 0;
        }
    }

    /* Contenedor principal */
    .container {
        padding: 20px;
        padding-top: 0%;
    }

    /* Contenido dentro del contenedor */
    .content {
        text-align: center;
    }

    /* Estilos de la barra de navegación */
    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    .topnav .login-container {
        float: left;
    }

    .topnav input[type=text], select {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #555;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .topnav .login-container button:hover {
        background-color: green;
    }

    /* Estilos adicionales */
    .justify {
        text-align: justify;
        text-justify: inter-word;
    }

    .sup {
        font-size: 10px;
    }

    .grid-container {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        margin: 2;
    }

    /* Secciones */
    .section {
        flex: 1;
    }

    .left {
        text-align: left;
        flex-basis: 25%;
    }

    .center {
        text-align: center;
        flex-basis: 50%;
    }

    .right {
        text-align: right;
        flex-basis: 25%;
    }

    /* Tabla */
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
