<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div>
    <% let j = 0 %>
    <% let encuentro %>
    <% let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']; %>
</div>

<div class="noPrint">
    <div class="topnav">
        <div class="login-container">
            <form action="/cursante/analisis" method="post">
                <select name="cohorte">
                    <option value='' style="display:none"> Cohorte </option>
                    <% cohortesTodas.forEach(function(cohorte){ %>
                        <option value="<%= cohorte.clave %>" <% if (cohorte.clave === paramCohorte) { %> selected <% } %> ><%= cohorte.clave %></option>
                    <% }) %>
                </select>
                <select name="campoClave">
                    <option value='' style="display:none"> Campo </option>
                    <% camposTodos.forEach(function(campo){ %>
                        <option value="<%= campo.clave %>" <% if (campo.clave === paramCampo) { %> selected <% } %> ><%= campo.clave %></option>
                    <% }) %>
                </select>
                <button type="submit">Consultar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>
<div style="margin-top: 5; margin-bottom: 5;">
    <table class="w3-table-all" style="margin-top: 5;">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle; width: 8%;" rowspan="2"><b>Clave</b></th>
                <th style="text-align: center; vertical-align: middle;" colspan="3">Detalles</th>
                <th style="text-align: center; vertical-align: middle;" colspan="5">Curso</th>
                <th style="text-align: center; vertical-align: middle;" colspan="5">Totales (masc.)</th>
            </tr>
            <tr class="w3-light-grey">
                <th style="text-align: center; vertical-align: middle; width: 8%;">Nombre</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Formador</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Denominación</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Proy</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Res</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Dic</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">C.Hs</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Ini/Fin</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Inscriptos</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Aprobados</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Desaprobados</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Ausentes</th>
                <th style="text-align: center; vertical-align: middle; width: 8%;">Otros</th>
            </tr>
        </thead>
        <tbody>
            <% 
                // Variables para los totales
                let totalInscriptos = 0;
                let totalMasculinoTotal = 0;
                let totalAprobados = 0;
                let totalMasculinoAprobados = 0;
                let totalDesaprobados = 0;
                let totalMasculinoDesaprobados = 0;
                let totalAusentes = 0;
                let totalMasculinoAusentes = 0;
                let totalOtros = 0;
            %>
            <% camposDocentes.forEach(function(campoDocente){ %>
                <% let i = 1 %>
                <% let fechaInicio = 'N/A'; %>
                <% let fechaFin = 'N/A'; %>
                <% if (campoDocente.encuentroFecha && campoDocente.encuentroFecha.encuentro1 && campoDocente.cohorte && campoDocente.cohorte.nroEncuentros) { %>
                    <% let newFechaInicio = new Date(campoDocente.encuentroFecha.encuentro1); %>
                    <% fechaInicio = newFechaInicio.getUTCDate() +"/"+ (newFechaInicio.getMonth() + 1) +"/"+ newFechaInicio.getFullYear().toString().slice(-2); %>
                    <% let newFechaFin = new Date(campoDocente.encuentroFecha['encuentro'+campoDocente.cohorte.nroEncuentros]); %>
                    <% fechaFin = newFechaFin.getUTCDate() +"/"+ (newFechaFin.getMonth() + 1) +"/"+ newFechaFin.getFullYear().toString().slice(-2); %>
                <% } %>

                <% if (campoDocente.encuentroFecha && campoDocente.encuentroFecha['encuentro' + campoDocente.cohorte.nroEncuentros]) { %>
                    <% let newFechaFin = new Date(campoDocente.encuentroFecha['encuentro' + campoDocente.cohorte.nroEncuentros]); %>
                    <% let fechaFin = newFechaFin.getUTCDate() + "/" + (newFechaFin.getMonth() + 1) + "/" + newFechaFin.getFullYear().toString().slice(-2) %>
                    <% let fechaFinLarga = newFechaFin.getUTCDate() + " de " + meses[newFechaFin.getMonth()] + " de " + newFechaFin.getFullYear() %>
                <% } else { %>
                    <% let fechaFin = 'N/A'; %>
                    <% let fechaFinLarga = 'N/A'; %>
                <% } %>

                <% let limit = 30 %>
                <% let inscriptos = campoDocente.cursantes.length %>
                <% let hojas = Math.trunc(inscriptos / limit + 1) %>

                <% for (var x = 1; x <= hojas; x++) { %>
                    <% let aprobados = 0 %>
                    <% let desaprobados = 0 %>
                    <% let ausentes = 0 %>
                    <% let otros = 0 %>
                    <% let masculinoTotal = 0 %>
                    <% let femeninoTotal = 0 %>
                    <% let masculinoAprobados = 0 %>
                    <% let masculinoDesaprobados = 0 %>
                    <% let masculinoAusentes = 0 %>
                    <% let masculinoOtros = 0 %>

                    <% for (var y = limit * (x - 1); y < limit * x; y++) { %>
                        <% if (y < inscriptos) { %>
                            <% let cursante = campoDocente.cursantes[y]; %>
                            <% let genero = cursante['Género (como figura en el DNI)']; %>
                            <% let valoracion = cursante.Valoracion; %>
                            <% if (genero === 'Masculino') { masculinoTotal++; } else { femeninoTotal++; } %>
                            <% if (valoracion === 'aprobado') { 
                                aprobados++; 
                                if (genero === 'Masculino') { masculinoAprobados++; } 
                            } %>
                            <% if (valoracion === 'desaprobado') { 
                                desaprobados++; 
                                if (genero === 'Masculino') { masculinoDesaprobados++; } 
                            } %>
                            <% if (valoracion === 'ausente') { 
                                ausentes++; 
                                if (genero === 'Masculino') { masculinoAusentes++; } 
                            } %>
                            <% if (valoracion !== 'ausente' && valoracion !== 'aprobado' && valoracion !== 'desaprobado') { 
                                otros++; 
                                if (genero === 'Masculino') { masculinoOtros++; } 
                            } %>
                        <% } %>
                        <% i++; %>
                    <% } %>
                    <tr>
                        <td style=""><strong><%= campoDocente && campoDocente.clave ? campoDocente.clave + ' - ' + (campoDocente.cohorte ? campoDocente.cohorte.clave : 'N/A') : 'N/A' %></strong></td>
                        <td style=""><%= campoDocente && campoDocente.nombre ? campoDocente.nombre : 'N/A' %></td>
                        <td style=""><%= (campoDocente && campoDocente.persona && campoDocente.persona.apellido) ? campoDocente.persona.apellido : 'N/A' %>, <%= (campoDocente && campoDocente.persona && campoDocente.persona.nombre) ? campoDocente.persona.nombre : 'N/A' %></td>
                        <td style=""><%= (campoDocente && campoDocente.propuesta && campoDocente.propuesta.nombre !== '') ? campoDocente.propuesta.nombre : '---' %></td>
                        <td style=""><%= (campoDocente && campoDocente.propuesta && campoDocente.propuesta['Proyecto'] !== '') ? campoDocente.propuesta['Proyecto'] : '---' %></td>
                        <td style=""><%= (campoDocente && campoDocente.propuesta && campoDocente.propuesta['Resolución'] !== '') ? campoDocente.propuesta['Resolución'] : '---' %></td>
                        <td style=""><%= (campoDocente && campoDocente.propuesta && campoDocente.propuesta['Dictamen'] !== '') ? campoDocente.propuesta['Dictamen'] : '---' %></td>
                        <td style=""><%= (campoDocente && campoDocente.propuesta && campoDocente.propuesta['Carga horaria'] !== '') ? campoDocente.propuesta['Carga horaria'] : '---' %></td>
                        <td style=""><%= fechaInicio %> - <%= fechaFin %></td>
                        <td style="text-align: right;"><%= aprobados + desaprobados + ausentes + otros %> (<%= masculinoTotal %>)</td>
                        <td style="text-align: right;"><%= aprobados%> (<%= masculinoAprobados %>)</td>
                        <td style="text-align: right;"><%= desaprobados %> (<%= masculinoDesaprobados %>)</td>
                        <td style="text-align: right;"><%= ausentes%>  (<%= masculinoAusentes %>)</td>
                        <td style="text-align: right;"><%= otros %></td>
                    </tr>
                    
                    <% 
                        // Sumar los totales de este curso a los totales generales
                        totalInscriptos += aprobados + desaprobados + ausentes + otros;
                        totalMasculinoTotal += masculinoTotal;
                        totalAprobados += aprobados;
                        totalMasculinoAprobados += masculinoAprobados;
                        totalDesaprobados += desaprobados;
                        totalMasculinoDesaprobados += masculinoDesaprobados;
                        totalAusentes += ausentes;
                        totalMasculinoAusentes += masculinoAusentes;
                        totalOtros += otros;
                    %>
                <% } %>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9" style="text-align: right;"><strong>Total General:</strong></td>
                <td style="text-align: right;"><%= totalInscriptos %> (<%= totalMasculinoTotal %>)</td>
                <td style="text-align: right;"><%= totalAprobados %> (<%= totalMasculinoAprobados %>)</td>
                <td style="text-align: right;"><%= totalDesaprobados %> (<%= totalMasculinoDesaprobados %>)</td>
                <td style="text-align: right;"><%= totalAusentes %> (<%= totalMasculinoAusentes %>)</td>
                <td style="text-align: right;"><%= totalOtros %></td>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /* Estilos globales */
    body {
        margin: 0;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    /* Estilos de impresión */
    @media print {
        .noPrint {
            display: none;
        }

        .brPage {
            page-break-after: always;
        }

        body {
            padding: 0;
        }
    }

    /* Contenedor principal */
    .container {
        padding: 20px;
        padding-top: 0%;
    }

    /* Contenido dentro del contenedor */
    .content {
        text-align: center;
    }

    /* Estilos de la barra de navegación */
    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    .topnav .login-container {
        float: left;
    }

    .topnav input[type=text], select {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #555;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .topnav .login-container button:hover {
        background-color: green;
    }

    /* Estilos adicionales */
    .justify {
        text-align: justify;
        text-justify: inter-word;
    }

    .sup {
        font-size: 10px;
    }

    .grid-container {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        margin: 2;
    }

    /* Secciones */
    .section {
        flex: 1;
    }

    .left {
        text-align: left;
        flex-basis: 25%;
    }

    .center {
        text-align: center;
        flex-basis: 50%;
    }

    .right {
        text-align: right;
        flex-basis: 25%;
    }

    /* Tabla */
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
