<!-- Parte de arriba -->
<%- include('../../layout/partTop.ejs') %>
<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<% let i = 1 %>
      <% let encuentro %>
  <!-- Header -->
  <header class="w3-container w3-bar sticky-top" style="padding-top:22px; display: flex; align-items: center;">
    <h5 style="margin-right: auto;"><b><i class="fa fa-dashboard"></i><span id="campoClave"><%= paramCampo %></span>/ Asistencia / <span id="cohorteClave"><%= cohorteUltima.clave %></span></b></h5>
    <button href="#" class="btn_save w3-button w3-teal " row_id="'+row_id+'" disabled>
      <span id="">Guardar</span> 
      <img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none ;" width="22" height="22" />
    </button>
  </header>

  <div id="modalFechaEcuentros" class="w3-modal modal">
    <div class="w3-modal-content">        
          <div>
            <% include ./fechaEncuentros_form.ejs %>
          </div>
    </div>
  </div>

  <div class="w3-container">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-light-grey" style="border: 1px solid #ddd;">
          <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">
            Cursante (<%= cursantes.length %>)
          </th>
          <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">DNI</th>
          <th class="ocultable" colspan="<%= cohorteUltima.nroEncuentros %>" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">Encuentros
            <button id="btnFechaEncuentros" href="#" class="w3-button w3-teal">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <img class="pull-right" id="waitIconFecha" src='/img/whiteIconGrisSegmentos.gif' style="display:none ;" width="22" height="22" />
          </button></th>
          <th class="ocultable" rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">Valoración</th>
        </tr>
        <tr class="w3-light-grey" style="border: 1px solid #ddd;">
          <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) { %>
            <% encuentro = 'encuentro'+j %>
            <% let fechaSubstring = (encuentroFecha[encuentro] !== undefined && encuentroFecha[encuentro] !== '') ? String(encuentroFecha[encuentro]).substring(8,10) + "/" + String(encuentroFecha[encuentro]).substring(5,7)  : '' %>
            <th class="encuentro ocultable" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">
              <%= j %>° : <%= fechaSubstring %>
            </th>
          <% } %>
        </tr>
      </thead>
      
      <% cursantes.forEach(function(registro){ %>
        <tr  rowNumber='<%= registro._rowNumber %>' >
          <td class="modified" style="display:none ;" col_name="change">
            false
          </td>
          <td> 
           <%= i %> | <%= registro['Apellido/s'] %>,  <%= registro['Nombre/s'] %>
          </td>
          <td>
            <%= registro['Número de DNI'] %>
          </td>
          <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) {%>
            <% encuentro = 'encuentro'+j %>
            <td class="ocultable" style="text-align: center; vertical-align: middle;" >
              
              <% if(registro[encuentro] == 'TRUE'){ %>
                <button class="row_data btnChange w3-button w3-round-large w3-border w3-border-indigo" col_name = "<%= encuentro %>"><strong>Presente</strong></button>
              <% } else { %>
                <button class="row_data btnChange w3-button w3-round-large w3-border w3-border-red" col_name = "<%= encuentro %>">Ausente</button>
              <% } %>
              
            </td>
         <% } %>
         <td class="ocultable" >
          <select class="row_data w3-select  w3-border w3-leftbar slcChange" name="calificacion" col_name = "Valoracion">
            <option value="seleccione"  style="display:none"> seleccione </option>
            <% calificaciones.forEach(function(calificacion){ %>
              <% let selected %>
              <% if(registro['Valoracion'] == calificacion.nombre) { %>
                <% selected = "selected" %>
              <% }%>
              <option <%= selected %> value="<%= calificacion.nombre %>"><%= calificacion.nombre %></option>
            <% }) %>
          </select>
        </td>
        </tr>
        <% i++ %>
        <% }) %>
    </table>
  </div>

 
  <style>
    .sticky-top {
      position: sticky;
      top: 20px;
      z-index: 1000;
    }
    .ocultable {
      display: none;
    }
  </style>
  <!-- Parte de abajo -->
  <%- include('../../layout/partBotton.ejs') %>
 
