<!-- Parte de arriba -->
<%- include('../../layout/partTop.ejs') %>
<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<% let i = 1 %>
      <% let encuentro %>
  <!-- Header -->
  <header class="w3-container w3-bar sticky-top" style="padding-top:22px; display: flex; align-items: center;">
    <h5 style="margin-right: auto;"><b><i class="fa fa-dashboard"></i><span id="campoClave"><%= paramCampo %></span>/ Asistencia / <span id="cohorteClave"><%= cohorteUltima.clave %></span></b></h5>
    <button href="#" class="btn_save w3-button w3-teal " row_id="'+row_id+'" disabled>
      <span id="">Guardar</span> 
      <img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none ;" width="22" height="22" />
    </button>
  </header>

  <div id="modalFechaEcuentros" class="w3-modal modal">
    <div class="w3-modal-content">        
          <div>
            <% include ./fechaEncuentros_form.ejs %>
          </div>
    </div>
  </div>

  <div class="w3-container">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-light-grey" style="border: 1px solid #ddd;">
          <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">
            <button id="btnBack" class=" w3-button w3-teal" disabled><i class="fa fa-reply-all" aria-hidden="true"></i></button>
            Cursante (<%= cursantes.length %>)
          </th>
          <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">DNI</th>
          <th class="ocultable2" colspan="<%= cohorteUltima.nroEncuentros %>" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">Encuentros
            <button id="btnFechaEncuentros" href="#" class="btn_save w3-button w3-teal">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <img class="pull-right" id="waitIconFecha" src='/img/whiteIconGrisSegmentos.gif' style="display:none ;" width="22" height="22" />
          </button></th>
          <th class="ocultable" rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;">Valoración</th>
        </tr>
        <tr class="w3-light-grey" style="border: 1px solid #ddd;">
          <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) {%>
            <% encuentro = 'encuentro'+j %>
          <th class="encuentro ocultable" style="text-align: center; vertical-align: middle; border: 1px solid #ddd;"><%= j %>°</th>
          <% } %>
        </tr>
      </thead>
      
      <% cursantes.forEach(function(registro){ %>
        <tr  rowNumber='<%= registro._rowNumber %>' >
          <td class="modified" style="display:none ;" col_name="change">
            false
          </td>
          <td> 
           <%= i %> | <%= registro['Apellido/s'] %>,  <%= registro['Nombre/s'] %>
          </td>
          <td>
            <%= registro['Número de DNI'] %>
          </td>
          <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) {%>
            <% encuentro = 'Encuentro'+j %>
            <td class="ocultable" style="text-align: center; vertical-align: middle;" >
              
              <% if(registro[encuentro] == 'TRUE'){ %>
                <button class="row_data btnChange w3-button w3-round-large w3-border w3-border-indigo" col_name = "<%= encuentro %>"><strong>Presente</strong></button>
              <% } else { %>
                <button class="row_data btnChange w3-button w3-round-large w3-border w3-border-red" col_name = "<%= encuentro %>">Ausente</button>
              <% } %>
              
            </td>
         <% } %>
         <td class="ocultable" >
          <select class="row_data w3-select  w3-border slcChange" name="calificacion" col_name = "Valoracion">
            <option value="Seleccione"  style="display:none"> Seleccione </option>
            <% calificaciones.forEach(function(calificacion){ %>
              <% let selected %>
              <% if(registro['Valoracion'] == calificacion.nombre) { %>
                <% selected = "selected" %>
              <% }%>
              <option <%= selected %> value="<%= calificacion.nombre %>"><%= calificacion.nombre %></option>
            <% }) %>
          </select>
        </td>
        </tr>
        <% i++ %>
        <% }) %>
    </table>
  </div>

  <script>

$("th").click(async function (event) {
      event.preventDefault();
      var row = $(this).parent();
      var col = $(this);
      var colIndex = col.index() + 1
      var tdIndex = colIndex + 3
      var head = col.text()
      var td = $("td")
      var tdParent = td.parent();
      var ocultable = $('.ocultable')
      var ocultable2 = $('.ocultable2')
      var cantCol = ($("td").length) / ($("tr").length - 2) - 1
      var btnShow= $('<button id="mostrarTodo" class="w3-button w3-black"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>');
      var temp = $('#temp')
      var btnBack = $('#btnBack')

      ocultable.hide() 
      switch (head) {
        case "1°": case "2°": case "3°": case "4°" : case "5°" :
             
            $('td:nth-child('+tdIndex+')').show()
            $('th:nth-child('+colIndex+')').show()
            btnBack.prop("disabled", false);
          break;
        case ("Valoración"):
          $('td:nth-child(7),th:nth-child(4)').show();
          ocultable2.hide()
          btnBack.prop("disabled", false);
          
          break;
        default:
            ocultable.show()
            ocultable2.show()
            btnBack.prop("disabled", true);
            break;
        
      }
      
});

    $("table button.btnChange").click(async function (event) {
      event.preventDefault();
      
      var button = $(this);
      var tr = button.closest('tr');
      
      // Obtén el valor actual del botón y cambia al estado contrario
      var isPresente = button.hasClass('w3-border-indigo');
      button.removeClass('w3-border-indigo w3-border-red');
      
      if (isPresente) {
        button.addClass('w3-border-red').html('Ausente');
      } else {
        button.addClass('w3-border-indigo').html('<strong>Presente</strong>');
      }

      // También puedes realizar otras acciones aquí, como guardar el estado en algún lugar.
  
      // Ejemplo de obtener la información de la fila
      var rowNumber = tr.attr('rowNumber');
      //var rowNumber = tr.find("td:eq(0)").html();
      await  tr.find(".modified").html('true')
      var encuentros = [];
      $('.btn_save').prop('disabled', false)
		  $('.btn_save').addClass('btn-outline-success')
    });

    $("table select.slcChange").change(async function (event) {
      event.preventDefault();
      
      var select = $(this);
      var tr = select.closest('tr');
      
      var rowNumber = tr.attr('rowNumber');
      //var rowNumber = tr.find("td:eq(0)").html();
      switch (parseInt(select.val())) {
        case 1:
          select.removeClass('w3-border-red w3-border-black').addClass('w3-border-blue');
          break;
        case 2:
          select.removeClass('w3-border-blue w3-border-black').addClass('w3-border-red');
          break;
        case 3:
          select.removeClass('w3-border-red w3-border-blue').addClass('w3-border-black');
          break;
      }
      await  tr.find(".modified").html('true')
      var encuentros = [];
      $('.btn_save').prop('disabled', false)
		$('.btn_save').addClass('btn-outline-success')
    });


    //--->save whole row entery > start	
	$(document).on('click', '.btn_save',async function(event) 
	{
		event.preventDefault();
		$('.btn_save').attr('disabled','disabled');
		$('#waitIconAsignatura').css("display", "block");
		var arrayJson = []
		$("table > tbody > tr").each(async function () {
			//await  tr.find(".modified").html('true')
			if ($(this).find(".modified").html() == 'true') {

				let rowNumber = $(this).attr('rowNumber');
        
				let arr = {};
				$(this).find('.row_data').each(function(index, val) {   
          let col_name = $(this).attr('col_name')
          let col_val = ($(this).val() || $(this).text())

          // Utiliza switch para mapear los valores
          switch (col_val) {
              case "Presente":
                  arr[col_name] = 'TRUE';
                  break;
              case "Ausente":
                  arr[col_name] = 'FALSE';
                  break;
              case "Seleccione":
                  arr[col_name] = '';
                  break;
              default:
                  // Otros casos, asigna el valor tal cual
                  arr[col_name] = col_val;
                  break;
    }
      });
				
				$.extend(arr, {rowNumber: rowNumber-2})

				arrayJson.push(arr)

			}			
		})
		$.ajax({
			
			url: '/cursante/put',
			contentType: 'application/json',
			method: 'PUT',
			data: JSON.stringify({arrayJson}),
			dataType: 'text',
			
			success: function (response) {  
				$('#waitIconAsignatura').css("display", "none");
				$('.btn_save').prop('disabled', false);
				$('#myModal').modal('show')
				$('#cant').html(arrayJson.length);
			}
			
		  });
		  $(document).ajaxStop(function(){
			window.location.reload();
		});


	});

  
 
  </script>
  <style>
    .sticky-top {
      position: sticky;
      top: 20px;
      z-index: 1000;
    }
    .ocultable {
      display: none;
    }
  </style>
  <!-- Parte de abajo -->
  <%- include('../../layout/partBotton.ejs') %>
 
