<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<div>
    <% let i = 0 %>
    <% let j = 0 %>
    <% let encuentro %>
    <% let aprobados = 0 %>
    <% let desaprobados = 0 %>
    <% let ausentes = 0 %>
    <% let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']; %>
    
</div>
<div class="noPrint">
    <div class="topnav">
        <div class="login-container">
          <form action="/cursante/certificado" method="post">
            <select name="cohorte">
                <option value=''  style="display:none"> Cohorte </option>
                  <% cohortesTodas.forEach(function(cohorte){ %>
                    <option value="<%= cohorte.clave %>" <% if (cohorte.clave === paramCohorte) { %> selected <% } %> ><%= cohorte.clave %></option>
                  <% }) %>
              </select>
              <select name="campoClave">
                <option value='' style="display:none"> Campo </option>
                <% camposTodos.forEach(function(campo){ %>
                    <option value="<%= campo.clave %>" <% if (campo.clave === paramCampo) { %> selected <% } %> ><%= campo.clave %></option>
                <% }) %>
            </select>
            <input type="text" placeholder="DNI" name="dni">
            <button type="submit">Consultar</button>
          </form>
        </div>
      </div>
      <p></p>
</div>
<div class="">

            <% cursantes.forEach(function(cursante){ %>
              <% j++ %>
                <% camposDocentes.forEach(function(campoDocente){ %>
                    <% if (cursante['Seleccione su/s curso/s'].includes(campoDocente.clave+" ")) { %>
                    <% let newFechaInicio = new Date(campoDocente.encuentroFecha.encuentro1); %>
                    <% let fechaInicio = newFechaInicio.getUTCDate() +"/"+ (newFechaInicio.getMonth() + 1) +"/"+ newFechaInicio.getFullYear().toString().slice(-2) %>
                    <% let newFechaFin = new Date(campoDocente.encuentroFecha['encuentro'+campoDocente.cohorte.nroEncuentros]); %>
                    <% let fechaFin = newFechaFin.getUTCDate() +"/"+ (newFechaFin.getMonth() + 1) +"/"+ newFechaFin.getFullYear().toString().slice(-2) %>
                    <% let fechaFinLarga = (newFechaFin.getUTCDate()) +" de "+ meses[newFechaFin.getMonth() + 1] +" de "+ newFechaFin.getFullYear() %>
                    
                    <div class="<% if (campoDocente.propuesta['Resolución'] == '' || campoDocente.propuesta['Dictamen']  == '' || campoDocente.propuesta['Proyecto'] == '') { %>noPrint<% } else {i++} %>">
                      <div class="borderPage container">
                        <sup style=" float: right; margin: 0;"><%= campoDocente.clave %> - <%= campoDocente.cohorte.clave %></sup>
                        <div class="w3-bar w3-large" style="margin: 0;">
                            <img class="w3-image" src="/img/IsologoCIIE.png" alt="logoCiie201" style="height:45px; float: left; clear: both; margin-top: 5;">
                            <img class="w3-image" src="/img/logo-pbea.png" alt="Hamburger Catering" style="height:60px; float: right;">
                        </div>
                        
                        <div class="w3-bar" style="margin: 0; text-align: center; clear: both;">
                            <h3 class="" style="margin-bottom: 5px;"> <strong> C E R T I F I C A D O </strong> </h3>
                            <hr style="margin-top: 0px;">
                        </div>
                        <div style="margin-top: 5px;">
                            <div class="grid-container" style="width: 50%;">
                                <p>&nbsp;Certifico que: <b><%= cursante['Apellido/s'] %>, <%= cursante['Nombre/s'] %></b></p>
                            </div>
                            <div class="grid-container" style="background-color: white; line-height: 15px;">
                                <p>DNI <b><%= cursante['Número de DNI'] %></b>, ha asistido y aprobó el curso:</p>
                            </div>
                        </div>
                        
                        <div style="height: 80px; overflow: hidden; text-align: center; display: flex; justify-content: center; align-items: center; ">
                            <p class="cursive"><%= campoDocente.propuesta.nombre %></p>
                        </div>
                        
                        
                        
                        <div>
                            <p class="justify">con una carga horaria de <b><%= campoDocente.propuesta['Carga horaria'] %></b> horas reloj, desde el <b><%= fechaInicio %></b> hasta el <b><%= fechaFin %></b> con la correspondiente evaluación ﬁnal.</p>
                             <p class="justify" style="margin-top: 7;">&nbsp;Aprobado por Resolución N° <b><%= campoDocente.propuesta['Resolución'] %></b> 	Dictamen N° <b><%= campoDocente.propuesta['Dictamen'] %></b> 	Proyecto N° <b><%= campoDocente.propuesta['Proyecto'] %></b></p>
                             <br>
                             <p style="text-align: right;"><i>La Matanza, G. de Laferrere, <%= fechaFinLarga %>.</i></p>
                        </div>
                        <div style="text-align: center; margin-top: 12%; margin-bottom: 2%;">
                            <div class="grid-container" style="width: 35%;">
                                <hr>
                                <small>Formador/a: <%= campoDocente.persona.apellido %>, <%= campoDocente.persona.nombre %></small>
                            </div>
                            <div class="grid-container" style="width: 20%;">
                                
                            </div>
                            <div class="grid-container" style="width: 35%;">
                                <hr>
                                <small>Director/a: Sica, Adriana</small>
                            </div>
                        </div>
                    
                    </div>
                    <% if(j < cursantes.length) {%>
                      <% if (i !== 0 && i % 2 === 0) { %>
                        <div style="break-after: page;"></div>
                      <% } else {%>
                        <hr style="margin-top: 5%;margin-bottom: 5%;">
                      <% } %>
                    <% } %>
                    </div>
                        
                    <% } %>
                <% }) %>
            <% }) %>
    
</div>

<style>

    .borderPage {
        border: 5px solid black; /* Ancho y color del borde */
        margin: 0px;
    }
    body {
                margin: 0; /* Eliminar el margen predeterminado */
                padding: 20px; /* Espacio interior para que el contenido no esté pegado al borde */
                font-family: Arial, sans-serif;
            }
    @media print {
        /* Estilos para la vista de impresión */

        /* Ocultar elementos */
        .noPrint {
            display: none;
        }

        .brPage {
            page-break-after: always;
        }
        body {
            padding: 0; /* Eliminar el margen predeterminado */
            }
    }
    /* Estilos del contenedor */
    .container {
            padding: 20px; /* Espacio interior del contenedor */
            padding-top: 0%;
        }

        /* Estilos de los elementos dentro del contenedor */
        .content {
            text-align: center; /* Alinear el contenido al centro */
        }
    .grid-container {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        margin: 2;
    }
    sup {
  font-size: 10px;
}
</style>
<style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
      font-family: 'Roboto';
    }
    .cursive {
      font-family: 'Courgette', cursive;
      /* line-height: 25px; */
      font-size: 20px;
    }
    .topnav {
      overflow: hidden;
      background-color: #e9e9e9;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .login-container {
      float: left;
    }
    
    .topnav input[type=text],select {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width:120px;
    }
    
    .topnav .login-container button {
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background-color: #555;
      color: white;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .login-container button:hover {
      background-color: green;
    }

    .justify {
      text-align: justify;
      text-justify: inter-word;
    }

    sup {
      font-family: "Lucida Console", "Courier New", monospace;
      color:gray;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .login-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    }
    </style>