<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div>
    <% let j = 0 %>
    <% let encuentro %>
    <% let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']; %>
    <% let estado = "" %>
</div>

<div class="noPrint">
    <div class="topnav">
        <div class="login-container">
            <form action="/cursante/control" method="post">
                <select name="cohorte">
                    <option value='' style="display:none"> Cohorte </option>
                    <% cohortesTodas.forEach(function(cohorte){ %>
                        <option value="<%= cohorte.clave %>" <% if (cohorte.clave === paramCohorte) { %> selected <% } %> ><%= cohorte.clave %></option>
                    <% }) %>
                </select>
                <select name="campoClave">
                    <option value='' style="display:none"> Campo </option>
                    <% camposTodos.forEach(function(campo){ %>
                        <option value="<%= campo.clave %>" <% if (campo.clave === paramCampo) { %> selected <% } %> ><%= campo.clave %></option>
                    <% }) %>
                </select>
                <button type="submit">Consultar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>

<% camposDocentes.forEach(function(campoDocente){ %>
    <% let i = 1 %>

    <% let fechasEncuentros = [] %>
    <% if (campoDocente.encuentroFecha && campoDocente.encuentroFecha.encuentro1 && campoDocente.cohorte && campoDocente.cohorte.nroEncuentros) { %>
        <% for (let e = 1; e <= campoDocente.cohorte.nroEncuentros; e++) { %>
            <% if (campoDocente.encuentroFecha['encuentro' + e]) { %>
                <% let fecha = new Date(campoDocente.encuentroFecha['encuentro' + e]); %>
                <% fechasEncuentros.push(fecha.getUTCDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear().toString().slice(-2)) %>
            <% } %>
        <% } %>
    <% } %>

    <% let inscriptos = campoDocente.cursantes.length %>

        <% let aprobados = 0 %>
        <% let desaprobados = 0 %>
        <% let ausentes = 0 %>
        <% let otros = 0 %>

            <% for (i = 0; i < inscriptos; i++) { %>
                    <% let cursante = campoDocente.cursantes[i]; %>
                    <% let valoracion = cursante.Valoracion; %>
                    <% if (valoracion === 'aprobado') { 
                        aprobados++; 
                    } %>
                    <% if (valoracion === 'desaprobado') { 
                        desaprobados++; 
                    } %>
                    <% if (valoracion === 'ausente') { 
                        ausentes++; 
                    } %>
                    <% if (valoracion !== 'ausente' && valoracion !== 'aprobado' && valoracion !== 'desaprobado') { 
                        otros++; 
                    } %>
            <% } %>


        <div class="">
            <div>
                <% if (campoDocente && campoDocente.cohorte && campoDocente.cohorte.clave) { %>
                    <div style="float: right;">
                        <span class="sup"><%= campoDocente.clave %> - <%= campoDocente.cohorte.clave %> </span>
                    </div>
                <% } %>
            </div>

            <div class="w3-bar w3-large">
                <ul>
                    <% if (campoDocente.nombre == '') {
                        estado = 'error'
                    } else {
                        estado = ''
                    }%>
                    <li class="<%= estado %>">
                        <span><strong>Área:</strong> <u><%= campoDocente.nombre %>(<%= campoDocente.clave %>)</u>: 
                            <i><%= campoDocente.propuesta.nombre %></i> - <%= campoDocente.persona.apellido %>, <%= campoDocente.persona.nombre %></span>
                    </li>
                    <% if (campoDocente.propuesta['Resolución'] == '' || campoDocente.propuesta['Dictamen'] == '' || campoDocente.propuesta['Proyecto'] == '') {
                        estado = 'error'
                    } else {
                        estado = ''
                    }%>
                    <li class="<%= estado %>">
                        <span> <strong>Datos: </strong>
                            Proyecto: <%= campoDocente.propuesta['Proyecto'] !== '' ? campoDocente.propuesta['Proyecto'] : "_________" %>, 
                            Resolución: <%= campoDocente.propuesta['Resolución'] !== '' ? campoDocente.propuesta['Resolución'] : "_________" %>, 
                            Dictamen: <%= campoDocente.propuesta['Dictamen'] !== '' ? campoDocente.propuesta['Dictamen'] : "_________" %>, 
                            Carga horaria: <%= campoDocente.propuesta['Carga horaria'] !== '' ? campoDocente.propuesta['Carga horaria'] : "______" %> hs.
                        </span>
                    </li>
                    <% if (fechasEncuentros.length <= 0) {
                        estado = 'error'
                    } else {
                        estado = ''
                    }%>
                    <li class="<%= estado %>">
                        <span>
                           <strong> Encuentros (<%=fechasEncuentros.length%>):</strong>
                            <% var j = 1%>
                            <% fechasEncuentros.forEach(function(fecha) { %>
                                <u><%= j++ %>°:</u> <%= fecha %> - 
                            <% }) %>
                        </span>
                    </li>
                    <% if (otros > 0) {
                        estado = 'error'
                    } else {
                        estado = ''
                    }%>
                    <li class="<%= estado %>">
                        <span>
                            <strong>Inscriptos:</strong> <%= inscriptos %>, Aprobados: <%= aprobados %>, Desaprobados: <%= desaprobados %>, Ausentes: <%= ausentes %>, Otros: <%= otros %>
                        </span>
                    </li>
                </ul>
            </div>

            <hr>
            <div style="break-after: page;"></div>
        </div>
<% }) %>

<style>
    /* Estilos globales */
    body {
        margin: 0;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .error {
        color: red;
    }

    /* Estilos de impresión */
    @media print {
        .noPrint {
            display: none;
        }

        .brPage {
            page-break-after: always;
        }

        body {
            padding: 0;
        }
    }

    /* Contenedor principal */
    .container {
        padding: 20px;
        padding-top: 0%;
    }

    /* Contenido dentro del contenedor */
    .content {
        text-align: center;
    }

    /* Estilos de la barra de navegación */
    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    .topnav .login-container {
        float: left;
    }

    .topnav input[type=text], select {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #555;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .topnav .login-container button:hover {
        background-color: green;
    }

    .sup {
        font-size: 10px;
    }


</style>
