<!-- <script src="/js/docenteCargoAlta.ajax.js"></script> -->
<script src="/js/cursanteAsistencia.ajax.js"></script>

<div class="w3-container">
  <div class="w3-container w3-teal">
    <h2>Fecha de Encuentros</h2>
  </div>
  <form action="/encuentroFecha/post" method="post" class="w3-container">
    <input type="" name="rowNumber" id="efRowNumber" value="<% (encuentroFecha) ? encuentroFecha._rowNumber : '' %>">
    
    <input type="hidden" name="campoClave" id="efCampo" value="<%= paramCampo %>">
    <input type="hidden" name="cohorteClave" id="efCohorte" value="<%= cohorteUltima.clave %>">
    <div class="w3-row-padding">
      <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) {%>
        <% encuentro = 'encuentro'+j %>
        <% let fechaSubstring = (encuentroFecha && encuentroFecha[encuentro] !== undefined && encuentroFecha[encuentro] !== '') ? encuentroFecha[encuentro] : '' %>
        <div class="">
          <label class="w3-text-brown"><b><%= j %>° encuentro </b></label>
          <input id="encuentro<%= j %>" class="w3-input w3-border w3-sand" name="encuentro<%= j %>" type="date" value="<%= fechaSubstring %>">
        </div>
      
      <% } %>
     
    </div>
    
    <br>
    <div class="w3-btn-group w3-col m12">
      <button id="btnEnviar" class="w3-btn w3-green" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Enviar solicitud
      </button>
      <button id="btnCancelar" class="w3-btn w3-orange" type="button">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </form>
  <hr>
</div>
