<!-- Parte de arriba -->
<%- include('../../layout/partTopPrint.ejs') %>
<!-- <script src="/js/estudianteAsignatura.ajax.js"></script> -->

<% let i%>
<% let encuentro %>

<!-- Header -->
    <% i = 1 %>
    <div class="w3-bar w3-large">
        <span>Lista de Asistencia: </span> <b><span id="campoClave"><ins><strong><%= campo.nombre %></strong> (<%= campo.clave %>)</ins></span>, <span id="cohorteClave"><%= cohorteUltima.clave %></span></b> | 
        <span>Form: <b><%= docente.apellido %></b>, <%= docente.nombre %></span>
        <span class="w3-bar-item w3-right">CIIE - Laferrere</span>
        <img class="w3-image w3-right" src="/img/escudoCiie-islas.png" alt="Hamburger Catering" style="width:36px;">
    </div>
<div class="">
    <table class="w3-table-all">
        
        <tr class="w3-light-grey" style="border: 1px solid #000000;">
            <td class="overflow-hidden" rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #000000; width: 30%;">
                <b> Cursante </b>
            </td>
            <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #000000; width: 10%;">
                DNI
            </th>
            <!-- Encabezado común para los encuentros -->
            <th colspan="<%= cohorteUltima.nroEncuentros %>" style="text-align: center; vertical-align: middle; border: 1px solid #000000;">
                Encuentros : <i>fecha</i>
            </th>
            <!-- Nueva columna para observaciones -->
            <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid #000000; width: 12%;">Observaciones</th>
        </tr>
        <!-- Subencabezado para los números de encuentro -->
        <tr class="w3-light-grey" style="border: 1px solid #000000;">
            <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) { %>
                <% encuentro ='encuentro'+j %>
                <th class="encuentro ocultable" style="vertical-align: middle; border: 1px solid #000000;"><%= j %>° : </th>
            <% } %>
        </tr>
    
    <tbody>
        <% cursantes.forEach(function(registro){ %>
        <% if (registro['Seleccione su/s curso/s'].includes(campo.clave+" ")) { %>
        <tr rowNumber='<%= registro._rowNumber %>' style="border: 1px solid #000000;">
            <td class="modified" style="display:none;" col_name="change">false</td>
            <td> <b><%= i %>)</b> <%= registro['Apellido/s'] %>, <%= registro['Nombre/s'] %></td>
            <td style="border: 1px solid #000000;"><%= registro['Número de DNI'] %></td>
            <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) { %>
                <% encuentro ='encuentro'+j %>
                <td class="encuentro ocultable" style="border: 1px solid #000000;"><small><%= i %>)</small></td>
            <% } %>
            <!-- Celda para observaciones -->
            <td style="vertical-align: middle; border: 1px solid #000000;"><small><%= i %>) </small></td>
        </tr>
        <% i++ %>
        <% } %>
        <% }) %>
    </tbody>
</table>
</div>

<style>
   
    @media print {
        /* Estilos para la vista de impresión */

        /* Ocultar elementos */
        .noPrint {
            display: none;
        }

        .brPage {
            page-break-after: always;
        }

        thead {
            display: table-header-group; /* Evita que el encabezado de la tabla se repita en cada página */
        }

        .w3-table-all tbody tr {
        height: 10px; /* Ajusta esta altura según tus necesidades */
        }
        .w3-table-all tbody tr td,
        .w3-table-all tbody tr th {
            padding-top: 4px; /* Ajusta el espacio superior de la celda */
            padding-bottom: 4px; /* Ajusta el espacio inferior de la celda */
        }
        .overflow-hidden {
            overflow: hidden;
            white-space: nowrap; /* Evita que el texto se divida en líneas */
            text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si desborda */
        }
    }
</style>